iframe {
    border: none;
}

ul.buttons {
    display: flex;
    margin: 1em;
    padding: 0;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
}

ul.buttons > li {
    display: flex;
}

ul.buttons > li > * {
    color: black;
    text-decoration: none;
    font-family: sans;
    border: 1px solid #888;
    padding: 5px;
    background-color: #eee;
    outline: 0;
    white-space: nowrap;
}

ul.buttons > li:first-child > * {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.buttons > li:last-child > * {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.buttons > li > a:hover,
ul.buttons > li > a.link_parent:hover,
ul.buttons > li > button:hover {
    border-color: #ccc;
    background-color: #fff;
}

ul.buttons > li > a,
ul.buttons > li > button {
    cursor: pointer;
}

ul.buttons > li > a:active,
ul.buttons > li > span.link,
ul.buttons > li > a.link_parent,
ul.buttons > li > button:active {
    border-color: #ccc;
    background-color: #ddd;
}

#content {
    padding: 0 1ex;
}

/* Page */
body {
    max-width: 1200px;
    margin: auto;
}

/* Footer */
aside.copyright {
    border-top: 1px solid silver;
    margin-top: 1em;
    padding: 0.5em 0;
    font-size: x-small;
    text-align: right;
}

aside.copyright img {
    vertical-align: middle;
}


/* Nav */
.navicon {
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}

nav.menu {
    margin: 0 0 1em;
}

nav.menu > ul {
    margin: 1em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    background-color: black;
    color: white;
    position: relative;
    padding: 0;
    white-space: nowrap;

}

nav.menu > ul > li {
    display: flex;
    border-right: 1px solid white;
}

nav.menu > ul > li.separator {
    flex-grow: 1;
}

nav.menu > ul > li > *,
nav.sub-menu > ul > li > * {
    padding: 1ex;
    color: white;
    display: block;
    text-decoration: none;
}

nav.menu > ul > li > *:hover,
nav.sub-menu > ul > li > *:hover {
    background-color: #666;
}

nav.menu > ul > li > span.link,
nav.menu > ul > li > *.link_parent,
nav.sub-menu > ul > li > span.link,
nav.sub-menu > ul > li > *.link_parent {
    font-weight: bold;
    background-color: #444;
}

nav.menu > ul > li > nav.sub-menu {
    position: relative;
}

nav.menu > ul > li > nav.sub-menu > ul.sub-menu-items {
    font-weight: normal;
    position: absolute;
    display: none;
    top: 100%;
    left: -1px;
    background-color: black;
    border: 1px solid white;
    min-width: 100%;
}

nav.menu > ul > li > nav.sub-menu > ul.sub-menu-items .separator {

    border-top: 1px solid;
    margin: 0 5px;

}

nav.menu > ul > li:hover > nav.sub-menu > ul.sub-menu-items {
    display: block;
}

nav.menu .profile-pic {
    height: 32px;
    padding: 0;
    margin: -1ex 0 -1ex 1ex;
    border-radius: 16px;
    vertical-align: middle;
}

nav.sub-menu > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column;
    z-index: 1;
}

nav.menu > ul > li.logo {
    background-color: black;
    width: 6em;
    min-height: 2em;
}

@media screen and (max-width: 183px) {
    nav.menu > ul > li.logo {
        margin-bottom:1em;
    }
}

nav.menu > ul > li.logo > a {
    position: absolute;
    left: 1em;
    top: -1em;
    height: 4em;
    width: 4em;
    padding: 0;
    border-radius: 50%;
    background: url("/media/img/rasterized/icon/scalable.png");
    background-size: cover;
    background-color: black;
}

nav.menu > ul > li.logo:hover > a,
nav.menu > ul > li > a.link_parent:hover,
nav.menu > ul > li.logo:hover {
    background-color: #666;
}

nav.menu > ul > li > nav.sub-menu > .sub-menu-title::after {
    content: "\25be";
    font-weight: normal;
    padding-left: 0.25ex;
}

.telegram-stickers-count {
    font-size: smaller;
}

dt:not(:first-child) {
    margin-top: 0.25em;
}

[data-collapse] {
    cursor: pointer;
}
[data-collapse]:hover {
    text-decoration: underline;
}
[data-collapse]::after {
    content: " [-]";
}
[data-collapse].collapsed::after {
    content: " [+]";
}

section header a {
  color: inherit;
  text-decoration: none;
}
section header a:hover {
  text-decoration: underline;
}
section header > :first-child:hover::after {
  content: "\00B6";
}

blockquote p {
    margin: 0.5em 0;
}
.quote {
    font-style: italic;
    border-left: 5px solid #ccc;
    margin: 1em 0 0.5em 2em;
    padding: 0 0 0 1em;
}

.heading-anchor > a {
    color: inherit;
    text-decoration: none;
}
.heading-anchor > a:hover {
    text-decoration: underline;
}
