.durgpic,
.image {
    width: 128px;
    height: 128px;
    display: inline-flex;
    vertical-align: bottom;
    padding: 5px;
    justify-content: center;
}
.durgpic img,
.image img {
    max-width: 128px;
    max-height: 128px;
    object-fit: contain;
}
.bigdurg,
.image.big {
    min-height: 512px;
    max-height: 100vw;
    width: auto;
    display: flex;
    justify-content: center;
}
.bigdurg img,
.image.big img {
    width: 512px;
    max-width: 100vw;
    max-height: 100vw;
    height: 512px;
    object-fit: contain;
}
.focus {
    text-align: center;
}
.selected {
    background-color: #ccc;
    padding: 4px;
    border: 1px solid black;
}
.durgpic:hover,
.image:not(.big):hover {
    background-color: #ddd;
}
.gallery {
    text-align: center;
}
.durgest img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
}
h2.gallery-title {
    text-align: center;
}

/* Recolor */
#image_container {
    width: 512px;
    height: 512px;
}
#palette_editor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#palette_editor input {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* lottie */
.lottie {
    max-width: 512px;
    max-height: 512px;
    margin: auto;
    background-color: white;
    background-size: 64px 64px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, white 50%, transparent 50%),
        linear-gradient(to right, transparent 50%, rgba(0, 0, 0, .5) 50%)
    ;
}
